__pycache__
.coverage
.DS_Store
.env
.mypy
.ruff
.tox
.venv
.vscode
[Dd]esktop.ini
*.lnk
*.pyc
/bin
/lib
/pyvenv.cfg
$RECYCLE.BIN/
coverage.xml
custom_components/*/__pycache__/
env.bak/
env/
ENV/
pytest.xml
pythonenv*
Thumbs.db
venv.bak/
venv/
